#logo {
    position: absolute;
    left: 43%;
    top: 3%;
    display: block;
    height: 100px;
    width: 100px;
    margin: auto;
}



body{
  margin:0;
  text-align:center;
  font-family: 'Special Elite', cursive;
  font-size: 18px;
    margin-top: 10%;
    margin-right: 24%;
    margin-left: 20%;
    padding: 1%;
  
}

h1 {
  text-align:center;
}

.container {
  width:90%;
  margin:0 auto;
}

input[type="radio"] {
    display:none;
}

label {
  width:18%;
  float:left;
  text-align:center;
  background:#fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color:#222;
  padding:0.5%;
  margin:0.5%;
  margin-bottom:30px;
  cursor:pointer;
}
#nav-button-audio {
   
    background-position: 0 -132px
}

a#nav-button-audio:hover{
   
    background-position: 0 -65px
}

input[type="radio"][id="image"]:checked + label {
  background:#66f;

}

input[type="radio"][id="image"]:checked ~ .video, input[type="radio"][id="image"]:checked ~ .auido {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

input[type="radio"][id="video"]:checked + label {

  background:#f46;
}

input[type="radio"][id="video"]:checked ~ .image, input[type="radio"][id="video"]:checked ~ .auido {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

input[type="radio"][id="auido"]:checked + label {
  background:#6d9;
}

input[type="radio"][id="auido"]:checked ~ .image, input[type="radio"][id="auido"]:checked ~ .video {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

input[type="radio"][id="text"]:checked ~ .image, input[type="radio"][id="auido"]:checked ~ .video {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}



.tile {
  width:23%;
  height:100px;
  float:left;
  transition:all 1s;
  margin:0.5%;
  padding:0.5%;
}

.auido{
  background-size:100%;
  background-position: center;
}

.image {
  background-size:100%;
  background-position: center;
}

#imagelabel{
  -webkit-transition: all 0.25s ease;
  background-image: url(../Icons/alliconstest.png);
  width:78px;
  height:69px;
   background-position: -166px -132px;
}

#imagelabel:hover {
    background-position: -166px -65px;
    border-bottom: 5px solid #FF0033;
}
 
#videolabel{
  -webkit-transition: all 0.25s ease;
  background-image: url(../Icons/alliconstest.png);
  width:78px;
  height:69px;
   background-position: -80px -132px;

}

#videolabel:hover {
    background-position: -80px -65px;
    border-bottom: 5px solid #FF0033;
}







a#nav-button-audio:hover{
   
    background-position: 0 -65px
}


.video {
  background-size:100%;
  background-position: center;

}
.text{
  background-size:100%;
  background-position: center;

}
#saveForm{
  margin:3px;
}


@media only screen and (max-width : 767px) and (orientation: portrait) {
  label, .tile{
    width: 100%;
  }

  .tile {height: 300px;}